@import 'nav';
@import 'home';
@import 'rooms';
@import 'blog';
@import 'footer';

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    width: 100%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background: lightgray;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 1532px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 1332px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 1132px) {
    html {
        font-size: 60%;
    }
}